;; Analyzed by ClojureScript 1.7.170
{:use-macros nil, :excludes #{js->clj}, :name asciinema.player.patch, :imports nil, :requires nil, :uses nil, :defs {js->clj {:protocol-inline nil, :meta {:file "/Users/sickill/code/asciinema/asciinema-player/src/asciinema/player/patch.cljs", :line 5, :column 7, :end-line 5, :end-column 14, :arglists (quote ([x] [x & opts])), :top-fn {:variadic true, :max-fixed-arity 1, :method-params ([x]), :arglists ([x] [x & opts]), :arglists-meta (nil nil)}}, :name asciinema.player.patch/js->clj, :variadic true, :file "src/asciinema/player/patch.cljs", :end-column 14, :top-fn {:variadic true, :max-fixed-arity 1, :method-params ([x]), :arglists ([x] [x & opts]), :arglists-meta (nil nil)}, :method-params ([x]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 5, :end-line 5, :max-fixed-arity 1, :fn-var true, :arglists ([x] [x & opts])}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:else :keywordize-keys}, :order [:keywordize-keys :else]}, :doc nil}