;; Analyzed by ClojureScript 1.7.170
{:name asciinema.player.raf, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires {util asciinema.player.util, asciinema.player.util asciinema.player.util}, :imports nil, :defs {request-animation-frame {:name asciinema.player.raf/request-animation-frame, :file "/Users/sickill/code/asciinema/asciinema-player/src/asciinema/player/raf.cljs", :line 4, :column 1, :end-line 4, :end-column 29, :meta {:file "/Users/sickill/code/asciinema/asciinema-player/src/asciinema/player/raf.cljs", :line 4, :column 6, :end-line 4, :end-column 29}}}}